:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .wrapper {
    flex: 1;
  }
}

.app-container {
  display: flex;
  /* 95% of viewport width, uses whichever one is smallest */
  max-width: min(1200px, 95vw);
  gap: 2rem;
}

.wrapper {
  flex: 1;
}

h2 {
  font-size: large;
  margin: 0.25rem;
}

.form-container {
  background-color: #a5c6fc;
  border-radius: 15px 15px;
  max-width: 600px;
  /* padding: 1.25rem;
  margin: 1.25rem; */
}

.form {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px; */
  max-width: 95%;
  margin: 0 auto;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 0.75rem;
}

.input-label {
  font-weight: bold;
}

.input-field {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
}

button {
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
#job-responsibilities {
  height: 150px;
}
